<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:if="${totalPages > 1}" th:fragment="pagination">
    <div class="row col-sm-10">
        <div class="col-sm-2">
            Total Rows: [[${totalItems}]]
        </div>
        <div class="col-sm-1">
            <a th:if="${currentPage > 0}"
               th:href="@{'/admin/posts/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                Prev
            </a>
            <span th:unless="${currentPage > 0}">Prev</span>
        </div>
        <div class="col-sm-2">
            <span th:each="i: ${#numbers.sequence(0, totalPages -1 )}">
                <a th:if="${currentPage != i}"
                   th:href="@{'/admin/posts/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                    [[${i + 1}]]
                </a>
                <span th:unless="${currentPage != i}">[[${i + 1}]]</span> &nbsp; &nbsp;
            </span>
        </div>
        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages - 1}"
               th:href="@{'/admin/posts/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                Next
            </a>
            <span th:unless="${currentPage < totalPages - 1}">Next</span>
        </div>
    </div>
</div>

</body>
</html>